@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Roboto:wght@400;500&display=swap');

body {
  background-color: #090E21;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

/* Containers/Groups */

.header-group {
  /* border: 1px solid #FFF; */
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  padding-top: 120px;
}

/* Position & Sizing */

/* Typography */

h1 {
  font-family: 'MuseoModerno', sans-serif;
  font-size: 96px;
  font-weight: 400;
  line-height: 96px;
  margin-bottom: 0px;
}

h2 {
  color: #FF8A80;
  font-size: 20px;
  margin-top: 0px;
}

a {
  color: #FFF;
}

a:hover {
  text-decoration: underline;
}

/* Global Properties/Elements */

form {
  /* border: 1px solid #FFF; */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

input {
  background-color: #090E21;
  border: 2px solid #303548;
  border-radius: 4px;
  color: #303548;
  font-size: 12px;
  height: 24px;
  margin: 5px 0;
  text-align: center;
}

input:focus {
  background-color: #303548;
  border: 1px solid #FFF;
  color: #FFF;
}

button {
  background-color: #FF8A80;
  border: 1px solid #FF8A80;
  border-radius: 4px;
  color: #FFF;
  font-size: 12px;
  margin: 10px 0;
  padding: 6px 12px;
}

.error {
  color: #FFF;
  font-size: 12px;
}