header, .App {
	text-align: center;
}

.LoginForm {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
}

.LoginForm>input {
	width: 250px;
	padding: 5px 0;
	margin: 10px 0;
}

.LoginForm>label {
	margin: 15px 0 -5px 0;
}

.LoginForm>.submit-button {
	margin: 10px 0;
	padding: 5px 10px;
	font-size: 1.15em;
	width: 100px;
}

.errorMessage {
	color: rgb(244, 198, 83);
	font-size: 1.25em;
	font-weight: 500;
}

