/*------------------------------------- 
font-family: 'MuseoModerno', sans-serif;
font-family: 'Roboto', sans-serif; 
--------------------------------------*/

.transaction_details_wrapper{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.transaction_wrapper{
    background-color: #282e33;
    display: flex;
    flex-direction: column;
    
}

.transactionInfo_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 3rem 2rem 3rem;
}

.text_info_divider{
    text-align: left;
    margin-right: 3rem;
    font-size: 1.05rem;
}

.amount_wrapper{
    margin: 1.75rem 0 0 0 ;

}

.transaction{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1.35em;
}

.description{
    word-break: break-word;
}

.amount{
    font-size: 1.3rem;
    margin: 0;
}

/* .transaction_edit{

} */

.button_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1.5rem;
}

.Button{
    margin: .9rem 1.75rem;
    height: 3rem;
    width: 6rem;
}

.red_button{
    background-color: rgba(252, 56, 56, 0.769);
}

.income{
    color: #81D281 ;
}

.expenses{
    color: #995E50 ;
}

